<section id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Add Coupons</h3>
                </div>
            </div>
        </div>

        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Enter the Details of the coupon</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data" action="/admin/add-coupon"
                                    class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">Coupon Code</label>
                                                <input type="text" name="couponcode" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Offer</label>
                                                <input type="number" name="offer" class="form-control" required/>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


          <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some eding here -->
                     <h4 class="card-title">Avilable coupon</h4>
                </div>
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Coupon Code</th>
                                <th>Offer</th>
                                <th>Status</th>
                                <th >Options</th>

                            </tr>
                        </thead>
                        <tbody>
                         {{#each coupons}}
                            <tr>
                                <td>{{this.couponcode}}</td>
                                <td>{{this.offer}}</td>
                                {{#if this.status}}
                                <td>Active</td>
                                {{else}}
                                <td>Deactive</td>
                                {{/if}}
                                <td class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <a href="/admin/activate-coupon/{{this._id}}" class=" btn btn-primary">Activate</a>
                                
                                    <a href="/admin/deactivate-coupon/{{this._id}}" class=" btn btn-success">Deactivate</a>
                               
                                    <a href="/admin/delete-coupon/{{this._id}}" class=" btn btn-danger">Delete</a>
                                </td>
                            </tr>
                         {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </div>
</section>