<section id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Banner Manager</h3>
                </div>
            </div>
        </div>

        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Enter the Details of the Banner</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data" action="/admin/banner"
                                    class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">Banner Title 1:</label>
                                                <input type="text" name="title1" class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Banner Title 2:</label>
                                                <input type="text" name="title2" class="form-control" required/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label for="">Upload a Banner Image:</label>
                                                 <input type="file" class="form-control-file" id="" name="image" required/>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


          <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some eding here -->
                     <h4 class="card-title">Avilable Banners</h4>
                </div>
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Banner</th>
                                <th>Banner Title 1:</th>
                                <th>Banner Title 2:</th>
                                <th>Status</th>
                                <th >Action</th>

                            </tr>
                        </thead>
                        <tbody>
                         {{#each banners}}
                            <tr>
                                <td><img src="/banner/{{this._id}}.jpg" alt="" style="width: 70px;heiht:70px"></td>
                                <td>{{this.title1}}</td>
                                <td>{{this.title2}}</td>
                                {{#if this.status}}
                                <td>Active</td>
                                {{else}}
                                <td>Deactive</td>
                                {{/if}}
                                <td class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <a href="/admin/activate-banner/{{this._id}}" class=" btn btn-primary" onclick="setbanner(event)">Set Banner</a>
                                
                                    <a href="/admin/edit-banner/{{this._id}}" class=" btn btn-success">Edit</a>
                               
                                    <a href="/admin/delete-banner/{{this._id}}" class=" btn btn-danger" onclick="deletebanner(event)">Delete</a>
                                </td>
                            </tr>
                         {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </div>
</section>


