<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>ALL User Details</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some eding here -->
                </div>
                <div class="card-body">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Options</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each userlist}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td><img src="/profile/{{this._id}}.jpg" alt="" style="width: 70px;heiht:70px"></td>
                                <td>{{this.email}}</td>
                                {{#if this.blockuser}}
                                <td>Not Active</td>
                                {{else}}
                                <td>Active</td>
                                {{/if}}

                                {{#if this.blockuser}}
                                <td style=" text-align: center;">
                                    <a href="/admin/unblock-user/{{this._id}}" class=" btn btn-success"  onclick="unblockuser(event)">Unblock</a>
                                     
                                     
                                </td>
                                {{else}}
                                <td style=" text-align: center;">
                                    <a href="/admin/block-user/{{this._id}}" class=" btn btn-primary"  onclick="blockuser(event)"> Block </a>
                                </td>
                                {{/if}}
                                <td style=" text-align: center;">
                                    <a href="/admin/delete-user/{{this._id}}" class=" btn btn-danger"  onclick="deleteuser(event)">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</div>