 <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="/"><span class="font-weight-bold text-uppercase text-dark">CANTEEN</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <!-- Link--><a class="nav-link active" href="/">Home</a>
                </li>
                {{#if user_login}}
                <li class="nav-item">
                  <!-- Link--><a class="nav-link active" href="/view-order">Order History</a>
                </li>
                {{/if}}
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                      {{#each allCategory}}
                      <a class="dropdown-item border-0 transition-link" href="/food-item-category/{{this.categoryName}}">{{this.categoryName}}</a>
                      {{/each}}
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-search mr-1 text-gray"></i></a>
                  
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    <input class="dropdown-item border-0 form-control" type="text" placeholder="Search" onkeyup="sendData(this)">
                     <section id="searchResults"></section>
                  </div>
                </li>
                {{#if user_login}}             
                <li class="nav-item">
                 <a class="nav-link" href="/cart"> <i
                class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart(<span class="text-success"
                id="cart-count">{{cartCount}}</span>)</a>
                </li>
                 {{/if}}
                 {{#if user_login}}
                <li class="nav-item">
                    <a class="nav-link" href="/edit-profile"> <i class="fas fa-user-alt mr-1 text-gray"></i>{{user_login.name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" onclick="userlogout(event)">Logout</a>
                </li>
                {{else}}
                 <li class="nav-item">
                    <a class="nav-link" href="/login"> <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a>
                </li>
                {{/if}}
              </ul>
            </div>
          </nav>
        </div>
</header>