<!-- IMAGE SECTION-->
<div class="container">
    {{#each banners}}
    {{#if this.status}}
  <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
    style="background: url(/banner/{{this._id}}.jpg">
    <div class="container py-5">
      <div class="row px-4 px-lg-5">
        <div class="col-lg-6">
          <p class="text-muted small text-uppercase mb-2">{{this.title1}}</p>
          <h1 class="h2 text-uppercase mb-3">{{this.title2}}</h1><a class="btn btn-dark" href="#CATEGORIES">ORDER
            NOW</a>
        </div>
      </div>
    </div>
  </section>
  {{/if}}
  {{/each}}
  <!-- CATEGORIES SECTION-->
  <section class="pt-5" id="CATEGORIES">
    <header class="text-center">
      <h2 class="h5 text-uppercase mb-4">What We Offer</h2>
    </header>

    <div class="row">
      {{#each allCategory}}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a class="category-item mb-4" href="/food-item-category/{{this.categoryName}}">
          <img class="img-fluid" src="/category/{{this._id}}.jpg" alt="">
          <strong class="category-item-title">{{this.categoryName}}</strong>
        </a>
      </div>
      {{/each}}
    </div>

  </section>


  <!-- TRENDING PRODUCTS-->
  <section class="py-5">
    <header>
      <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
      <h2 class="h5 text-uppercase mb-4">Popular Items Of Our Restaurant</h2>
    </header>
    <div class="row">
      <!-- PRODUCT-->
      {{#each items}}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="product text-center">
          <div class="position-relative mb-3">
            <div class="badge text-white badge-"></div><a class="d-block" href="/View-single-food-item/{{this._id}}"><img
                class="img-fluid w-100" src="/images/{{this._id}}.jpg" alt="..."></a>
            <div class="product-overlay">
              <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i
                      class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><button onclick="addToCart('{{this._id}}')"
                    class="btn btn-sm btn-dark">Add to cart</button></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                    href="/View-single-food-item/{{this._id}}"><i class="fas fa-expand"></i></a></li>
              </ul>
            </div>
          </div>
          <h6> <a class="reset-anchor" href="#">{{this.name}}</a></h6>
          <p class="small text-muted">₹{{this.price}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </section>

  <!-- SERVICES-->

  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <h5 class="text-uppercase">Let's be friends!</h5>

        </div>
        <div class="col-lg-6">
          <form action="#">
            <div class="input-group flex-column flex-sm-row mb-3">
              <input class="form-control form-control-lg py-3" type="email" placeholder="Enter your email address"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-dark btn-block" id="button-addon2" type="submit">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>