 <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Order History</h1>
              </div>
              <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ORDER HISTORY</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <h2 class="h5 text-uppercase mb-4">Delivery Details</h2>
          <div class="row">
            <div class="col-lg-12 mb-4 mb-lg-0">
              <!-- CART TABLE-->
              <div class="table-responsive mb-4">
                <table class="table">
                  <thead class="bg-light">
                    <tr>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Date</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Full Name</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Email ID</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Mobile No</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">TOTAL AMOUNT</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">METHOD</strong></th>
                      <th class="border-0" scope="col"> <strong class="text-small text-uppercase">STATUS</strong></th>
                      <th colspan="2" class="border-0" scope="col"> <strong class="text-small text-uppercase">OPTION</strong></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                       {{#each orderDetails}}
                    <tr>
                      <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.date}}</p>
                      </td>
                      <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.deliveryDetails.name}}</p>
                      </td>
                      <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.deliveryDetails.email}}</p>
                      </td>
                      <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.deliveryDetails.mobile1}}</p>
                      </td>


                      
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.totalAmount}}</p>
                      </td>
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.paymentMethod}}</p>
                      </td>
                       <td class="align-middle border-0">
                        <p class="mb-0 small">{{this.status}}</p>
                      </td>
                      
                    {{#if this.cancel}}
                       <td colspan="2" class="align-middle border-0">
                            <a class="btn btn-sm btn-dark d-flex justify-content-center" href="/view-order-items/{{this._id}}">View Ordered Item</a>
                        </td>
                    {{else}}

                        {{#if order_ready}}
                            <td colspan="2" class="align-middle border-0">
                                <a class="btn btn-sm btn-dark d-flex justify-content-center" href="/view-order-items/{{this._id}}">View Ordered Item</a>
                            </td>
                        {{else}}
                
                            <td class="align-middle border-0 text-center">
                                <a class="btn btn-sm btn-dark " href="/cancel-order/{{this._id}}" onclick="cancelOrder(event)">Cancel Order</a>
                            </td>
                            <td class="align-middle border-0 text-center">
                                <a class="btn btn-sm btn-dark " href="/view-order-items/{{this._id}}">View Ordered Item</a>
                           </td>
                          {{/if}}
                      
                     {{/if}}
                    </tr>
                     {{/each}}
                  </tbody>
                </table>
              </div>
              <!-- CART NAV-->
              <div class="bg-light px-4 py-3">
                <div class="row align-items-center text-center">
                  <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a class="btn btn-link p-0 text-dark btn-sm" href="/"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>